:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: black;  
  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  box-sizing: border-box;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  height: 100vh;
  font-size: 1.2rem;
}

#root {
  height: inherit;
}

h2 {
  font-size: 2.5rem;
}

.auth-page {
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-page__logo {
  flex: 0 0 50%;

  font-size: 5rem;
  background-color: gray;
  height: inherit;

  text-align: center;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.auth-page__form {
  flex: 0 0 50%;
  padding: 0 15rem;
}

/* HOME PAGE STYLES */

.home-page {
  display: flex;
}

.sidebar {
  font-size: 2rem;
  padding: 2% 3%;
  display: flex;
  flex-direction: column;
}

.user-details {
  display: flex;
  align-items: baseline;
  gap: 1rem;
}

.menu {
  list-style-type: none;
}

.page-content {
  padding: 2% 3%;
}