.form-controls {
    width: 100%;
    margin: 1rem 0;
    /* background-color: green; */    
}

.form-controls > label { 
    display: inline-block;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.form-controls > input {
    display: block;
    width: 100%;

    font-size: 2rem;
    padding: 0.5rem 0.5rem;

    border-radius: 0.5rem;

    outline: none;
    border: none;
}
